.filter__container--title,
.filter__container--priceRange {
  display: none;
}


/* vtex-search-result-3-x- */

.filterAvailable {
  background-color: var(--pink);
}

.filterTitleSpan {
  margin: 5px 10px;
}


.filterTemplateOverflow {
  padding: 10px;
}

.caretIcon {
  color: white;
}

/* vtex-search-result-3-x-filterIsOpen */

.searchNotFoundOops {
  display: none!important;
}
