
.minicartIconContainer .cartIcon {
  width: 0.875rem;
  height: 0.875rem;
  overflow: visible;
  margin-right: 28px;
  margin-bottom: 35px;
}

.minicartWrapperContainer {
    align-items: center;
}


/* .minicartContainer  :global(.vtex-button){
    border: 0;
  }
  */
.minicartContainer :global(.vtex-button__label) {
  padding: 0;
  border: 0;
}

.drawer{
  z-index: 9999;
}


@media screen  and (max-width: 1024px){
  .minicartContainer :global(.vtex-button__label) {
    padding-top: 0;
    padding-bottom: 0;
  }

  .minicartIconContainer .cartIcon {
    width: 10px;
    height: 8px;
    overflow: visible;
    margin-right: 0;
    margin-bottom: 18px;
  }

  .minicartIconContainer{
    margin-right: 25px;
  }

  .minicartQuantityBadgeDefault{
    width: 0.7rem;
    height: 0.7rem;
    top: -0.4rem;
    right: -1.7rem;
  }
}


