.link-0-x-childrenContainer--link-baixar-manuais .btndownload {
  border: none;
}


.link--link-ler-manuais {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  background-color: #f8f1f6;
  color: #616060;
  font-weight: bold;
  border-radius: 6px;
  margin: 5px 0px;
  box-shadow: 5px 3px 5px #959494;
}

.link--link-ler-manuais:hover{
  background-color: #c7c7c7;
  color: white;
}

.link--link-baixar-manuais {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  background-color: #e95296;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  margin: 5px;
  box-shadow: 5px 3px 5px #959494;
}

.link--link-baixar-manuais:hover{
  background-color: #be4179;
}

.childrenContainer--manuais-pdp {
  background-color: var(--rosa-da-rosa);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.link--link-banner-home {
  width: 100%;
}

.link--texto-linha-login-mobile,
.label--texto-linha-login-mobile {
  color: white;
  text-decoration: none;

}

.link {
  text-decoration: none;
}

.link--link-menu-institucionais {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.childrenContainer--link-menu-institucionais {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
}

.childrenContainer--link-menu-institucionais .link--item-menu-institucionais {
  text-decoration: none;
}

.childrenContainer--link-categorias {
  display: flex;
  justify-content: center;
}
